<%- include('partials/header', { title: 'View Student' }) %>
<nav class="breadcrumb">
    <a href="/">Home</a> &gt; <a href="/students">Students</a> &gt; View Student
</nav>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Enrolled Courses</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(student) { %>
                <tr>
                    <td><%= student.name %></td>
                    <td><%= new Date(student.dob).toLocaleDateString() %></td>
                    <td>
                        <ul>
                            <% student.enrolledCourses.forEach(function(course) { %>
                            <li><%= course.courseName %> (Start Date: <%= new Date(course.startDate).toLocaleDateString() %>, Duration: <%= course.duration %> hours)</li>
                            <% }); %>
                        </ul>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer') %>
